.wrapper {
  @apply w-screen h-screen flex flex-row;
  background-color: #EDEEF0;
}

.sidebar {
  @apply flex h-full;
  background-color: #3D539F;
  width: 407px;
  border-bottom-right-radius: 50px;
}

.search {
  @apply flex m-4 w-64;
  background-color: #5B74D8;
  border-radius: 30px;
  height: 90%;
}

.courses {
  @apply flex flex-wrap h-full ml-48 gap-1 bg-amber-200
}

.course {
  @apply flex w-full h-36 bg-white
}