.wrapper {
  @apply flex items-center justify-center h-screen;
  background-color: #F8F6FF;
}


.container {
  @apply flex flex-col items-center h-screen;
  width: 860px;
}

.header {
@apply  mt-16;
  color:#7552E9;
  font-weight: bold;
  font-size: 80px;
}


.input{
  @apply flex bg-white pl-4 justify-center items-center ml-8 mt-4;
  border: 1px solid #cccccc;
  height: 38px;
  width: 464px;
  border-radius: 15px;
  color:black;
  font-weight: normal;
  font-size: 16px;
}


.categories {
  @apply flex gap-4 mt-8;
}

.hardness {
  @apply flex gap-4 mt-2
}

.category {
  @apply flex pl-2 pr-2 pt-1 pb-1;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.category_active {
  @apply flex pl-2 pr-2 pt-1 pb-1;
  background-color: #7552E9;
  color: white;
  border: 1px solid #cccccc;
  border-radius: 12px;
  font-size: 12px;
}

.collabs_fields {
  @apply flex flex-col bg-white mt-4 rounded-2xl;
  border: 1px solid #cccccc;
  min-height: 540px;

}



.collab {
  @apply flex flex-row bg-white p-2 w-full pl-12;
  border-bottom: 1px solid #cccccc;
  height: 60px;

  &:hover {
    background-color: #7552E9; /* Изменение цвета фона */
    color: white; /* Изменение цвета текста */

    /* Для всех вложенных элементов, если нужно: */
    * {
      color: white; /* Устанавливает цвет текста для всех вложенных элементов */
    }
  }
}

.collab_first {
  @apply flex flex-row bg-white p-2 w-full pl-12;
  border-bottom: 1px solid #cccccc;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 60px;

  &:hover {
    background-color: #7552E9; /* Изменение цвета фона */
    color: white; /* Изменение цвета текста */

    /* Для всех вложенных элементов, если нужно: */
    * {
      color: white; /* Устанавливает цвет текста для всех вложенных элементов */
    }
  }
}


.collab_last {
  @apply flex flex-row bg-white p-2 w-full pl-12;
  height: 60px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom: 1px solid #cccccc;


  &:hover {
    background-color: #3D539F; /* Изменение цвета фона */
    color: white; /* Изменение цвета текста */

    /* Для всех вложенных элементов, если нужно: */
    * {
      color: white; /* Устанавливает цвет текста для всех вложенных элементов */
    }
  }
}





.collab_name {
  color: #3D539F;
  font-weight: bold;

}


