.wrapper {
  @apply w-screen flex flex-col items-center;
  background-color: #F8FAFD;
}


.container {
  @apply flex flex-col mb-4;
  width: 1160px;
  min-height: 100vh;
}

.header {
  @apply flex w-full h-20 items-center ;
  color:#3D539F;
  font-weight: bold;
  font-size: 50px;
}


.input{
  @apply flex bg-white pl-4 justify-center items-center ml-8;
  border: 1px solid #cccccc;
  height: 38px;
  width: 464px;
  border-radius: 15px;
  color:black;
  font-weight: normal;
  font-size: 16px;
}


.categories {
  @apply flex gap-4
}

.hardness {
  @apply flex gap-4 mt-2
}

.category {
  @apply flex pl-2 pr-2 pt-1 pb-1;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.category_active {
  @apply flex pl-2 pr-2 pt-1 pb-1;
  background-color: #3D539F;
  color: white;
  border: 1px solid #cccccc;
  border-radius: 12px;
  font-size: 12px;
}

.collabs_fields {
  @apply flex flex-col bg-white pl-12 pt-4 mt-4 pb-8 rounded-2xl;
  border: 1px solid #cccccc;
  min-height: 300px;

}


.collab_block {
  @apply flex flex-col mt-2;
}

.collab {
  @apply flex flex-row bg-white rounded-2xl p-2;
  border: 1px solid #cccccc;
  width: 1064px;
  height: 60px;

  &:hover {
    background-color: #3D539F; /* Изменение цвета фона */
    color: white; /* Изменение цвета текста */

    /* Для всех вложенных элементов, если нужно: */
    * {
      color: white; /* Устанавливает цвет текста для всех вложенных элементов */
    }
  }
}




.collab_name {
  color: #3D539F;
  font-weight: bold;

}


