.wrapper {
  @apply flex h-screen;
  //min-height: 100vh; /* Минимальная высота экрана */
}

.sidebar {
  @apply flex flex-col h-full;
  background-color: #3D539F;
  width: 160px;
}

//bg-gray-300 rounded-3xl justify-center items-center text-xs;

.avatar_container {
  @apply flex flex-col justify-center items-center gap-8 h-full;

}


.logo_font {
  @apply text-white font-bold flex justify-center mt-3;
  font-size: 26px;
}

.content {
  @apply flex  h-full w-full;
  background-color: #F8FAFD;
  overflow-y: auto; /* Появление ползунка, если контент больше 400px */


}


.task {
  @apply flex flex-col p-6 pt-3;
  font-family: "Roboto Th";

}

.result {
  @apply flex flex-col p-6 pt-3 mt-1 ;
  width: 1000px;
  //min-height: 0px;
  //max-height: 590px;
}




.input_black {
  @apply bg-white w-full border rounded;
  min-height: 250px;
}

.input_result {
  @apply bg-white w-full border rounded;
  min-height: 100px;
}

.chat {
  @apply flex h-full;
  width: 560px;
  background-color: #F8FAFD;
}

.message_field{
  @apply flex  w-full justify-center items-center text-xl font-bold;
  height: 900px;
}

.send_field {
  @apply flex w-full justify-center items-center;
  height: 100px;
}

.send_input{
  @apply pl-4 border w-full h-full;
}

